.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.127);
  text-align: center;
}

.login-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.127);
}

.login-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.logged-in-message {
  text-align: center;
}

button {
  margin: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.title {
  margin: 0;
}

.search-container {
  flex: 1;
  margin: 0 1rem;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.yellow-button {
  background-color: yellow;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.logout-dialog {
  width: 400px;
}

.cancel-button {
  color: red;
}

.logout-button {
  color: white;
  background-color: red;
}
