.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.login-form {
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.127);
  text-align: center;
}

.login-form h2 {
  color: white;
  margin-bottom: 30px;
}

.login-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.127);
  color: white;
}

.login-form input::placeholder {
  color: white;
}

.login-form button {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login-form button:hover {
  background-color: #007bff;
  color: #fff;
}

button {
  margin: 20px;
}
