.movie-card {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.movie-card:hover {
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5); /* Adjust the color and opacity as needed */
}

.movie-img-container {
  position: relative;
  height: auto;
  width: 100%;
}

.movie-info {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

p.movie-title {
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.movie-img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.movie-img-container:hover::before {
  box-shadow: 0 0 50px rgba(255, 215, 0, 0.5);
}

.movie-img-container:hover .movie-info {
  opacity: 1;
  visibility: visible;
}

.rating {
  align-items: start;
  justify-content: center;
}
