.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.127);
  text-align: center;
}

.signup-form input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.127);
}

.signup-form button {
  background-color: #28a745; /* Change color for sign-up button */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #218838; /* Darker color on hover */
}

button {
  margin: 20px;
}
